@page
@model MiraiAnimation.Pages.ShopModel
@section CSS{
	<link rel="stylesheet" href="css/shop.css" type="text/css">
}
@using MiraiAnimation.Model;

<div id="container" class="container pt-4 mt-4 bg-dark">
	@foreach(BluRay bd in Model.bds) {
		<div class="row pb-5">
			<img class="float-left" src="data:image/String;base64,@((bd.immagine != null) ? bd.immagine : " ")" alt="cofanetto" onerror="this.src='img/bd/noimage.png'"/>

			<div class="descrizione mr-4">
				<p class="testo">
					<a class="link" href="">@bd.anim.titolo</a> <br />
					<span class="prezzo">Prezzo:</span> @bd.prezzo
					<span></span><br />
					<span class="contenuto">Descrizione:</span> <br />
					<span>@bd.descrizione</span>
				</p>

				@if(User.Claims.Count() > 0) {
					<form name="shopForm" asp-page-handler="Add" onsubmit="return checkForm(this)">
						<input type="hidden" asp-for="Input.Id" value="@bd.id">
						<input type="hidden" asp-for="Input.Prezzo" value="@bd.prezzo">
						<label asp-for="Input.Quantità"> Quantità </label>
						<input type="number" asp-for="Input.Quantità" min="1">
						<br />
						<span class="error" asp-validation-for="Input.Quantità"></span>
						<input type="submit" value="Acquista" class="submit">
					</form>
					<span class="error" id=""></span>
					<p>  </p>

				} else {
					<p> Devi essere registrato per poter effettuare l'acquisto</p>
				} 
			</div>
		</div>
	}
</div>

@section Scripts{
	<script src="js/shop.js"></script>
}